@import "src/variables";

.chatItem {
  background-color: $pale-back;
}

.chatLink {
  display: block;

  &:hover {
    color: $main-content;
    background-color: $lighted-pale-back;
  }
}

.chatTitle {
  margin: 0;
  padding: 15px 10px;
}

.lastMessage {
  display: flex;
  align-items: center;
  padding: 0 20px;

  border-top: 1px solid $paled-content;

  .user {

  }

  .text {
    margin-left: 20px;
  }
}

.lastMessage.unread {
  background-color: $paled-content;
}

