@import "src/variables";

.userList {
  align-self: start;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.userItem {
  margin: -20px;
  padding: 20px;
  display: grid;
  grid-template: "name name" minmax(30px, max-content)
                 "write add" minmax(30px, max-content)
                  /1fr 1fr;
  gap: 30px;

  background-color: $pale-back;


  h4 {
    grid-area: name;
    margin: 0;
    text-align: center;
    font-size: 24px;
  }

  .writeTo {
    grid-area: write;
  }

  .addToGroup {
    grid-area: add;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .plus {
      width: 30px;
      height: 30px;
    }
  }

  .writeTo, .addToGroup {
    padding: 14px;
    text-align: center;
    border: 1px solid $main-content;
    transition: all .4s ease;

    &:hover {
      border: 1px dashed $main-content;
      color: $main-content;
    }

    &:active {
      border: 1px solid $bright-content;
    }

  }

}

.groupList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.groupItem {
  align-self: stretch;
}
