@import "src/variables";

.userList {
  align-self: start;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.userItem {
  //padding: 40px;
  display: grid;
  grid-template: "name" minmax(30px, max-content)
                 "link" minmax(30px, max-content)
                  /1fr;
  gap: 30px;

  background-color: $pale-back;


  h4 {
    grid-area: name;
    margin: 0;
    text-align: center;
    font-size: 24px;
  }

  .writeTo {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    grid-area: link;
    padding: 14px;
    text-align: center;
    border: 1px solid $main-content;
    transition: all .4s ease;

    &:hover {
      border: 1px dashed $main-content;
      color: $main-content;
    }

    &:active {
      border: 1px solid $bright-content;
    }

  }
}
