@import "src/variables";

.message {
  margin: 0 -18px;
  padding: 0 10px;
}

.message.isUnread {
  background-color: rgba($bright-content, .1);
}

.message.isUnread.isOwn {
  background-color: rgba($text-content, .1);
}

.message + .message {
  border-bottom: 1px solid $paled-content;
}

.text {
  grid-area: text;
  margin: 6px 0;
}
